@tailwind base;
@tailwind components;
@tailwind utilities;

/* Keyframes for smooth lighting glow effect */
@layer utilities {
  @keyframes lightglow {
    0%, 100% {
      color: #0e3742;
      text-shadow: 0 0 5px #03bcf4, 0 0 10px #03bcf4;
    }
    50% {
      color: #fff;
      text-shadow: 0 0 15px #03bcf4, 0 0 30px #03bcf4, 0 0 45px #03bcf4;
    }
  }

  .animate-lightglow {
    animation: lightglow 3s infinite ease-in-out;
  }

  .box-reflect {
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  }
}
